/* NOTE: Home.css: Holds CSS classes & definitions for templates/home.html */

/* Gives image tags a nice black border */
img {
  border: 2px solid black;
}

.blog-feed {
  margin-bottom: 10%;
}

/* Gives padding to 'welcome' message */
/*.intro {
  margin-top: 2.75em;
}*/

/* 'Reach Out' menu styling */
.consult a {
  width: 60%;
}
.consult {
  padding: 1% 2%;
}

/* 'Quicklinks' anchors */
.quicklink {
  text-decoration: underline;
  color: #000000;
}
