/* NOTE: Home.css: Holds CSS classes & definitions for templates/home.html */
/* Gives image tags a nice black border */
img {
  border: 2px solid black;
}

/* Removes border from .pdf icon */
img:not(.slide) {
  border: none;
}

/* Creates buffer space between blog article feed & page footer */
.blog-feed {
  margin-bottom: 10%;
}

/* 'Reach Out' menu styling */
.consult a {
  width: 60%;
}
.consult {
  padding: 1% 2%;
}

/* 'Quicklinks' anchor styling */
.quicklink {
  text-decoration: underline;
  color: #000000;
}
