<head>
  <link rel="stylesheet" href="/css/about.css">
</head>

<div class="ui container">
  <div class="ui text menu">
    <!-- Site name -->
    <div class="item logo">
      <a href="/" style="text-decoration:none;">
        <h1 class="full-name">Will Kaspar</h1>
        <p>web development</p>
      </a>
    </div>
    <!-- Mobile nav button -->
    <div class="right menu">
      <div class="ui icon button" onclick="openNav()">
        <i class="large bars icon"></i>
      </div>
      <!-- Mobile menu -->
      <div id="nav" class="overlay">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <div class="overlay-links">
          <a onclick="closeNav()" href="/portfolio">Portfolio</a>
          <a onclick="closeNav()" href="/blog">Blog</a>
          <a onclick="closeNav()" href="/about">About</a>
        </div>
      </div>
    </div>
    <!-- Desktop menu -->
    <div id="menu" class="ui menu">
      <a class="item" href="/portfolio">Portfolio</a>
      <a class="item" href="/blog">Blog</a>
      <a class="item" href="/about">About</a>
    </div>
  </div>
</div>

<!-- ABOUT ME -->
<div class="ui container">
  <h2>About Me</h2>
  <div class=""><hr><br></div>
  <div class="ui centered stackable grid">
    <div class="ui fifteen wide column">
      <img class="ui small left floated image" src="/images/about/headshot1.jpg">
      <p><span class="first-letter">W</span>elcome to the 'about me' section of my website.  Let's jump right in!  I've been coding since 2016, working in both JavaScript and Ruby.  In that time, I've also learned a handful of useful full-stack technologies, including Node.js, Express, Angular.js, Rails, and SaSS, to name a few.  A comprehensive list can be found below.</p>
      <img class="ui small right floated image" src="/images/about/headshot2.jpg">
      <p>I'm very passionate about developing software - it gives me an outlet for my creativity while allowing me to pursue my career in software engineering.  I enjoy the balance of design and technology inherent in web development.  Hopefully, as you explore this website, my passion shines through :)</p>
      <p>When I'm not building software, I'm crazy about the outdoors.  I grew up in southeastern Tennessee and absolutely adore the mountains.  I thoroughly enjoy hiking, camping, climbing, and backpacking.  Years ago, I worked as an organic gardener. Today, I still enjoy tending plants, especially succulents. My dog, Indigo, is a beagle mix and my most loyal companion.   I also enjoy pinball and all kinds of gaming.  Other hobbies include game development, computer security, philosophy, and history.<br><br>My favorite food is pepperoni pizza.</p>
    </div>
    <div class="ui row">
      <img class="banner-img" src="/images/about/banner.jpg" alt="">
    </div>
  </div>
</div>
<br>
<div class="ui container stack-panel">
  <!-- TECH SKILLZ LIST -->
  <h3 class="">Tech Skills</h3>
  <div class="ui grid">
    <!-- Row One -->
    <div class="ui row">
      <div class="stack-list ui column four wide">
        <i class="devicon-javascript-plain"></i>
        <p>JavaScript</p>
      </div>
      <div class="stack-list ui column four wide">
        <i class="devicon-ruby-plain"></i>
        <p>Ruby</p>
      </div>
      <div class="stack-list ui column four wide">
        <i class="devicon-jquery-plain"></i>
        <p>jQuery</p>
      </div>
      <div class="stack-list ui column four wide">
        <i class="devicon-angularjs-plain"></i>
        <p>Angular JS</p>
      </div>
    </div>
    <!-- Row Two -->
    <div class="ui row">
      <div class="stack-list ui column four wide">
        <i class="devicon-nodejs-plain"></i>
        <p>Node.js, Express</p>
      </div>
      <div class="stack-list ui column four wide">
        <i class="devicon-rails-plain"></i>
        <p>Rails</p>
      </div>
      <div class="stack-list ui column four wide">
        <i class="devicon-postgresql-plain"></i>
        <p>PostgreSQL</p>
      </div>
      <div class="stack-list ui column four wide">
        <i class="devicon-mongodb-plain"></i>
        <p>MongoDB</p>
      </div>
    </div>
    <!-- Row Three -->
    <div class="ui row">
      <div class="stack-list ui column four wide">
        <i class="devicon-html5-plain"></i>
        <p>HTML5</p>
      </div>
      <div class="stack-list ui column four wide">
        <i class="devicon-css3-plain"></i>
        <p>CSS3</p>
      </div>
      <div class="stack-list ui column four wide">
        <i class="devicon-sass-plain"></i>
        <p>SASS</p>
      </div>
      <div class="stack-list ui column four wide">
        <i class="devicon-bootstrap-plain"></i>
        <p>Bootstrap</p>
      </div>
    </div>
    <!-- Row Four -->
    <div class="ui row">
      <div class="stack-list ui column four wide">
        <i class="devicon-github-plain"></i>
        <p>Git, Github</p>
      </div>
      <div class="stack-list ui column four wide">
        <i class="devicon-heroku-plain"></i>
        <p>Heroku</p>
      </div>
      <div class="stack-list ui column four wide">
        <i class="devicon-wordpress-plain"></i>
        <p>Shopify, Squarespace, Wordpress, ServiceNow</p>
      </div>
      <div class="stack-list ui column four wide">
        <i class="devicon-photoshop-plain"></i>
        <p>Adobe CC</p>
      </div>
    </div>
    <div class="ui hidden divider"></div>
  </div>
</div>

<!-- Footer -->
<footer style="bottom:0;height:4.5vh;width:100vw;text-align:center;">
  &copy 2018 Friendly Ghost Industries
</footer>
