<!-- BLOG: Article Index -->
<head>
  <link rel="stylesheet" href="/css/blog.css">
</head>

<!-- Site Name & Menu -->
<div class="ui container">
  <div class="ui text menu">
    <!-- Site name -->
    <div class="item logo">
      <a href="/" style="text-decoration:none;">
        <h1 class="full-name">Will Kaspar</h1>
        <p>web development</p>
      </a>
    </div>
    <!-- Mobile nav button -->
    <div class="right menu">
      <div class="ui icon button" onclick="openNav()">
        <i class="large bars icon"></i>
      </div>
      <!-- Mobile menu -->
      <div id="nav" class="overlay">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <div class="overlay-links">
          <a onclick="closeNav()" href="/portfolio">Portfolio</a>
          <a onclick="closeNav()" href="/blog">Blog</a>
          <a onclick="closeNav()" href="/about">About</a>
        </div>
      </div>
    </div>
    <!-- Desktop menu -->
    <div id="menu" class="ui menu">
      <a class="item" href="/portfolio">Portfolio</a>
      <a class="item" href="/blog">Blog</a>
      <a class="item" href="/about">About</a>
    </div>
  </div>
</div>

<!-- Dev Blog Block -->
<div class="ui container blog-container">
  <h2>Development Blog</h2>
  <div class=""><hr><br></div>
  <div ng-repeat="article in blogCtrl.articleList" class="">
    <a ng-href="blog/{{ article._id }}" style="text-decoration:none;color:black;"><h3 style="display:inline;">{{ article.title }}</h3><p style="padding-left:2%;">{{ article.date }}</p></a>
    <div ng-repeat="body in article.body" class="container">
      <p style="padding-top: 2%;">{{ body.paragraph }}</p>
    </div>
    <div class=""><br><hr><br></div>
  </div>
</div>

<!-- Footer -->
<footer style="bottom:0;height:4.5vh;width:100vw;text-align:center;">
  &copy 2018 Friendly Ghost Industries
</footer>
